@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
}

p
{
  font-size: 30px;
}
a, .footer-p{
  color: rgb(247, 242, 242);
  text-decoration: none;
}
.article1{
  padding: 1vh 3vw;
  margin-top: 10vh;
  margin-bottom: 4vh;
  background-color: #DEB6AB;
  display: flex;
}
main
{

      padding: 2vh 3vw;
      margin-top: 10vh;
      margin-bottom: 4vh;
      background-color: #d7a7b3; ;
      display: flex;

}
.article3{
  padding: 0 2vw;
  width: 60%;
}
.article4{
  width: 20%;
}
.article2{
  width: 20%;
}


h1{
  text-align: center;
  font-size: 80px;
}
@media(max-width:700px)  {
  h1{
    font-size: 45px;
  }
  p {
    font-size: 17px;
  }
  .sergi{
    font-size: 28px;
  }
  .info {
    font-size: 15px;
  }
  .widget-title
  {
    font-size: 13px;
  }
  
}
img{
  width: 100%;
  margin: 1vh 0;
}
h2, h3{
  margin: 1vh 0;
  text-align: center;
}
footer{
  background-color:#5d404f;
  text-align: center;
  
}
.footer-item1{
  width: 24vw;
  background-color: rgb(238, 235, 227);
  margin: 4vh 0;
  align-items: center;
  position: relative;
  left: 400px;
}
.footer-item2{
  width: 24vw;
  background-color: rgb(238, 235, 227);
  margin: 4vh 0;
  align-items: center;
  position: relative;
  right: 400px;
}
@media (max-width:700px) {
  .footer-item2{
    height: 100px;
    width: 25vw;
    position: relative;
    right: 110px;
    margin-left: 250px;
  }
  .footer-item1{
    height: 100px;
    width: 25vw;
    position: relative;
    left: 110px;
  }
}
hr{
  width: 90%;
  margin: 1vh auto;
}
.footer-setcion{
  display: flex;
  justify-content: space-between;
}
b
{
  color: #453338;
}
img
{
  border-radius: 50%;
}
h2
{
  font-size: 60px;
}
.custom-btn {
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-8 {

background-image: linear-gradient(315deg,  #542333 0%, #a8707c 74%);
  line-height: 35px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background-color: #130220;
  box-shadow:  4px 4px 6px 0 #9E3668,
              -4px -4px 6px 0 #691A40, 
    inset -4px -4px 6px 0 ,#9E3668
    inset 4px 4px 6px 0 #691A40;
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #691A40 ;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #ACB992;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
  
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
 
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
  
}
.colco
{
  top: 60px;
  position: relative;
}
@media(max-width:700px) {
  .colco{
      position: relative;
      top: 320px;
  }
}
h3
{
  font-size: 20px;
}
.teleph
{
  font-size: 20px;
}
@media (max-width:700px) {
  .teleph{
    font-size:13px ;
  }
  .mi{
    font-size: 14px;
  }
  .contac
  {
    font-size: 14px;
  }
}

.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a:hover {background: #249bd7;}
.twitter a:hover {background: #00acee;}
.youtube a:hover {background: #c4302b;}
@media (max-width:700px){
  .social a{
    width: 27px;
    height: 27px;
    position: relative;
    left: 5px;
  }
  .social svg{
    width: 13px;
    height: 13px;
  }
}

::-webkit-scrollbar {
  width: 24px; 
  height: 8px; 
  background-color: #464E2E;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #FAD9E6 ;
  border: 6px solid rgba(0,0,0,0.2);
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E4AEC5;

}
